* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  --secondary-color: rgb(175, 255, 255);
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  width: 100vw;
}
nav {
  grid-column: 1/2;
  /* grid-row: 0/1; */
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
}
.project-item:hover {
  background-color: white;
}
.project-item__number {
  height: 20px;
  width: 20px;
  background-color: var(--secondary-color);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.new-item {
  display: flex;
  align-items: center;
}

.new-item__input {
  border-style: none;
  margin-left: 5px;
}
.tasks {
  grid-column: 2/3;
  padding: 15px;
  background-color: rgb(184, 184, 184);
}
.tasks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  margin-bottom: 10px;
}

.tasks-container:hover {
  background-color: white;
}

.tasks-container .container {
}
.container .details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 10px;
}
/*login section*/
.login-box {
  /* position: absolute; */
  width: 50%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);

  padding: 20px 10px;
  margin-bottom: 20px;
}
.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 50%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.birthday-container {
  margin: 15px 0;
}
